.page-header{
  display: block;
  padding: 1em;
  background: lightgray;
}
.content-container{
  /*border: 2px solid purple;*/
}
.content-container:after{
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.content-section{
  /*display: inline-block;*/
  float: left;
  vertical-align: top; /*수직 정렬*/
  padding: 1em;
  font-size: 1rem; /*root(html) em = 16px*/
}
.content-section-a{
  width: calc(30% - 2em);
  background: yellow;
}
.content-section-b{
  width: calc(70% - 2em);
  background: pink;
}
.page-footer{
  padding: 1em;
  background-color: yellowgreen;
}
.global-menu-link{
  display: block;
  margin-bottom: 5px;
  background: white;
}
